@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover-active (&:where(.hover-active, .hover-active *));
@custom-variant scrolling (&:where(.scrolling, .scrolling *));

@theme {
  --color-dark-bg-default: #191a1a;
  --color-dark-bg-item: #202222;
  --color-dark-bg-addition: #2d2f2f;

  --color-dark-text-default: #e8e8e6;
  --color-dark-text-addition: #8d9191;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  position: relative;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply w-full h-screen;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  cursor: default;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

button:hover {
  opacity: 0.7;
}
